@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
html {
  @apply font-tiempos;
}

h1 {
  @apply lg:text-h1 text-[46px] leading-[1] font-light text-green100 font-tiempos;
}

h2 {
  @apply lg:text-h2 text-[32px] leading-[1] font-light text-green100 font-tiempos;
}
h3 {
  @apply lg:text-h3 text-[24px] leading-[1] font-light text-green100 font-tiempos;
}

h4 {
  @apply lg:text-h4 text-[20px] leading-[1] font-light text-green100;
}

h5 {
  @apply text-h5 font-light text-green100;
}

p,
ul > li,
ol > li {
  @apply lg:text-p text-[16px] leading-[1.55] font-normal text-green100;
}

ul,
ol {
  margin: 0 !important;
  padding: 0;
}

ul > li {
  list-style: none;
}

ol {
  list-style: numeric outside;
}

ol li > ol {
  list-style: lower-alpha outside;
}

blockquote {
  @apply lg:text-[24px] text-[18px] leading-[1.55] font-light text-green100;
}

blockquote:first-child:first-letter {
  @apply text-red100 pr-[8px];
  initial-letter: 3;
}

.content-block p {
  margin-bottom: 0 !important;
}

@media (min-width: 1024px) {
  .container-large {
    max-width: 84.14vw;
    margin-right: auto;
    margin-left: auto;
  }
  .container-small {
    max-width: 76.21vw;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 1023px) {
  .container-large,
  .container-small {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  blockquote:first-child:first-letter {
    initial-letter: 2;
  }
}
