html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

p:not(:last-child) {
  margin-bottom: 1.5rem;
}
@media (max-width: 1024px) {
  p:not(:last-child) {
    margin-bottom: 1rem;
  }
}
ol,
ul {
  margin-left: 1rem;
}
